*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111315;

    overflow:hidden;

    color:white;

    font-family:'Inter',sans-serif;

}

.background-glow{

    position:fixed;

    width:700px;

    height:700px;

    background:radial-gradient(circle,#c9a86a55,transparent);

    left:50%;

    top:50%;

    transform:translate(-50%,-50%);

    filter:blur(80px);

    animation:pulse 8s ease-in-out infinite;

}

.hero{

    position:relative;

    z-index:10;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    min-height:100vh;

    padding:30px;

}

.eyebrow{

    color:#d4b483;

    letter-spacing:5px;

    font-size:13px;

    margin-bottom:30px;

}

h1{

    font-family:'Cormorant Garamond',serif;

    font-size:82px;

    font-weight:600;

    line-height:1.05;

}

h1 span{

    color:#d4b483;

}

.subtitle{

    margin-top:40px;

    color:#d8d8d8;

    line-height:1.8;

    max-width:650px;

    font-size:20px;

}

button{

    margin-top:60px;

    padding:18px 42px;

    border:none;

    border-radius:999px;

    background:#d4b483;

    color:#111315;

    font-size:18px;

    cursor:pointer;

    transition:.35s;

}

button:hover{

    transform:translateY(-6px);

    box-shadow:0 20px 40px rgba(212,180,131,.35);

}

@keyframes pulse{

    0%,100%{

        transform:translate(-50%,-50%) scale(1);

    }

    50%{

        transform:translate(-50%,-50%) scale(1.2);

    }

}