*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
}

body{

    background:
    radial-gradient(circle at center,#27231c 0%,#0F1115 70%);

    color:white;
    font-family:Poppins,sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

    overflow:hidden;

}

.overlay{

    width:100%;
    max-width:900px;

    padding:40px;

    text-align:center;

    position:relative;

    z-index:5;

}

.line{

    opacity:0;

    transform:translateY(20px);

    animation:fadeUp .9s forwards;

    font-size:.9rem;

    letter-spacing:4px;

    text-transform:uppercase;

    color:#cfcfcf;

}

.line2{

    animation-delay:1.5s;

    margin-top:12px;

}

h1{

    opacity:0;

    animation:fadeUp 1s forwards;

    animation-delay:3.5s;

    font-size:6rem;

    line-height:1.05;

    margin-top:55px;

    font-family:'Cormorant Garamond',serif;

    font-weight:700;

}

h1 span{

    color:#E6C07B;

}

.subtitle{

    opacity:0;

    animation:fadeUp 1s forwards;

    animation-delay:4.8s;

    margin-top:35px;

    font-size:1.2rem;

    color:#bdbdbd;

    line-height:1.8;

}

button{

    opacity:0;

    animation:fadeUp 1s forwards;

    animation-delay:5.8s;

    margin-top:55px;

    border:none;

    background:#E6C07B;

    color:#111;

    padding:18px 50px;

    border-radius:60px;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.35s;

}

button:hover{

    transform:translateY(-4px) scale(1.03);

    box-shadow:0 15px 40px rgba(230,192,123,.35);

}

.fireflies{

    position:absolute;

    inset:0;

    overflow:hidden;

}

.fireflies span{

    position:absolute;

    bottom:-50px;

    width:5px;

    height:5px;

    border-radius:50%;

    background:#F5D58B;

    box-shadow:0 0 15px #F5D58B;

    animation:float linear infinite;

    opacity:.7;

}

.fireflies span:nth-child(1){left:8%;animation-duration:10s;}
.fireflies span:nth-child(2){left:18%;animation-duration:13s;}
.fireflies span:nth-child(3){left:30%;animation-duration:12s;}
.fireflies span:nth-child(4){left:45%;animation-duration:15s;}
.fireflies span:nth-child(5){left:60%;animation-duration:11s;}
.fireflies span:nth-child(6){left:74%;animation-duration:16s;}
.fireflies span:nth-child(7){left:86%;animation-duration:14s;}
.fireflies span:nth-child(8){left:95%;animation-duration:12s;}

@keyframes float{

0%{

transform:translateY(0);

opacity:0;

}

20%{

opacity:.8;

}

100%{

transform:translateY(-120vh);

opacity:0;

}

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:768px){

h1{

font-size:4rem;

}

.subtitle{

font-size:1rem;

}

button{

width:100%;

}

}

@media(max-width:500px){

h1{

font-size:3rem;

}

.line{

font-size:.75rem;

letter-spacing:2px;

}

}